*.a
*.tgz
*.o
\#*\#
.\#*
*.sw[po]
~*
*~
a.out

ex_01/raise.h
ex_01/new.h
ex_01/object.h
ex_01/point.h
ex_01/point.c
ex_01/ex_01.c

ex_02/raise.h
ex_02/new.h
ex_02/objec.h
ex_02/point.h
ex_02/vertex.h
ex_02/ex_02.c

ex_03/raise.h
ex_03/new.h
ex_03/object.h
ex_03/point.h
ex_03/vertex.h
ex_03/ex_03.c

ex_04/raise.h
ex_04/bool.h
ex_04/new.h
ex_04/object.h
ex_04/float.h
ex_04/int.h
ex_04/char.h
ex_04/ex_04.c

ex_05/raise.h
ex_05/bool.h
ex_05/new.h
ex_05/object.h
ex_05/container.h
ex_05/iterator.h
ex_05/float.h
ex_05/int.h
ex_05/char.h
ex_05/array.h
ex_05/ex_05.c

ex_06/raise.h
ex_06/bool.h
ex_06/new.h
ex_06/object.h
ex_06/container.h
ex_06/iterator.h
ex_06/float.h
ex_06/int.h
ex_06/char.h
